<%= render 'users/shared/error_messages' %>
<div class="container-xxl">
  <div class="authentication-wrapper authentication-basic container-p-y">
    <div class="authentication-inner py-4">
      <!-- Forgot Password -->
      <div class="card">
        <div class="card-body">
          <!-- Logo -->
          <div class="app-brand justify-content-center">
            <%= link_to(raw("<span class='app-brand-logo'>
  <svg width='81.75' height='27.75' viewBox='0 0 109 37' fill='none' xmlns='http://www.w3.org/2000/svg'>
<path d='M6.15234 29H1.94824V7.99414H6.15234V18.4971L13.9746 7.99414H18.75L12.1143 16.8564L18.75 29H13.9746L9.36035 20.5039L6.15234 24.7959V29ZM34.4678 29H33.501L31.9482 26.8467C31.5674 27.1885 31.1621 27.5107 30.7324 27.8135C30.3125 28.1064 29.8682 28.3652 29.3994 28.5898C28.9307 28.8047 28.4473 28.9756 27.9492 29.1025C27.4609 29.2295 26.9629 29.293 26.4551 29.293C25.3516 29.293 24.3115 29.1074 23.335 28.7363C22.3682 28.3652 21.5186 27.8281 20.7861 27.125C20.0635 26.4121 19.4922 25.543 19.0723 24.5176C18.6523 23.4922 18.4424 22.3252 18.4424 21.0166C18.4424 19.7959 18.6523 18.6777 19.0723 17.6621C19.4922 16.6367 20.0635 15.7578 20.7861 15.0254C21.5186 14.293 22.3682 13.7266 23.335 13.3262C24.3115 12.916 25.3516 12.7109 26.4551 12.7109C26.9629 12.7109 27.4658 12.7744 27.9639 12.9014C28.4619 13.0283 28.9453 13.2041 29.4141 13.4287C29.8828 13.6533 30.3271 13.917 30.7471 14.2197C31.1768 14.5225 31.5771 14.8496 31.9482 15.2012L33.501 13.3408H34.4678V29ZM30.4395 21.0166C30.4395 20.4697 30.332 19.9424 30.1172 19.4346C29.9121 18.917 29.6289 18.4629 29.2676 18.0723C28.9062 17.6719 28.4814 17.3545 27.9932 17.1201C27.5146 16.876 27.002 16.7539 26.4551 16.7539C25.9082 16.7539 25.3906 16.8467 24.9023 17.0322C24.4238 17.2178 24.0039 17.4912 23.6426 17.8525C23.291 18.2139 23.0127 18.6631 22.8076 19.2002C22.6025 19.7275 22.5 20.333 22.5 21.0166C22.5 21.7002 22.6025 22.3105 22.8076 22.8477C23.0127 23.375 23.291 23.8193 23.6426 24.1807C24.0039 24.542 24.4238 24.8154 24.9023 25.001C25.3906 25.1865 25.9082 25.2793 26.4551 25.2793C27.002 25.2793 27.5146 25.1621 27.9932 24.9277C28.4814 24.6836 28.9062 24.3662 29.2676 23.9756C29.6289 23.5752 29.9121 23.1211 30.1172 22.6133C30.332 22.0957 30.4395 21.5635 30.4395 21.0166Z' fill='#263B80'/>
<path d='M42.1582 12.1982V20.6064H46.3623C46.9385 20.6064 47.4805 20.499 47.9883 20.2842C48.4961 20.0596 48.9404 19.7568 49.3213 19.376C49.7021 18.9951 50 18.5508 50.2148 18.043C50.4395 17.5254 50.5518 16.9785 50.5518 16.4023C50.5518 15.8262 50.4395 15.2842 50.2148 14.7764C50 14.2588 49.7021 13.8096 49.3213 13.4287C48.9404 13.0479 48.4961 12.75 47.9883 12.5352C47.4805 12.3105 46.9385 12.1982 46.3623 12.1982H42.1582ZM42.1582 29H37.9541V7.99414H46.3623C47.1338 7.99414 47.876 8.09668 48.5889 8.30176C49.3018 8.49707 49.9658 8.78027 50.5811 9.15137C51.2061 9.5127 51.7725 9.95215 52.2803 10.4697C52.7979 10.9775 53.2373 11.5439 53.5986 12.1689C53.9697 12.7939 54.2529 13.4629 54.4482 14.1758C54.6533 14.8887 54.7559 15.6309 54.7559 16.4023C54.7559 17.125 54.6631 17.8281 54.4775 18.5117C54.3018 19.1953 54.043 19.8447 53.7012 20.46C53.3691 21.0752 52.959 21.6416 52.4707 22.1592C51.9824 22.6768 51.4355 23.126 50.8301 23.5068L53.1592 29H48.6914L46.8604 24.7666L42.1582 24.7959V29ZM63.1641 25.1621C63.3203 25.2109 63.4766 25.2451 63.6328 25.2646C63.7891 25.2744 63.9453 25.2793 64.1016 25.2793C64.4922 25.2793 64.8682 25.2256 65.2295 25.1182C65.5908 25.0107 65.9277 24.8594 66.2402 24.6641C66.5625 24.459 66.8457 24.2148 67.0898 23.9316C67.3438 23.6387 67.5488 23.3164 67.7051 22.9648L70.6348 25.9092C70.2637 26.4365 69.834 26.9102 69.3457 27.3301C68.8672 27.75 68.3447 28.1064 67.7783 28.3994C67.2217 28.6924 66.6309 28.9121 66.0059 29.0586C65.3906 29.2148 64.7559 29.293 64.1016 29.293C62.998 29.293 61.958 29.0879 60.9814 28.6777C60.0146 28.2676 59.165 27.6963 58.4326 26.9639C57.71 26.2314 57.1387 25.3623 56.7188 24.3564C56.2988 23.3408 56.0889 22.2275 56.0889 21.0166C56.0889 19.7764 56.2988 18.6436 56.7188 17.6182C57.1387 16.5928 57.71 15.7188 58.4326 14.9961C59.165 14.2734 60.0146 13.7119 60.9814 13.3115C61.958 12.9111 62.998 12.7109 64.1016 12.7109C64.7559 12.7109 65.3955 12.7891 66.0205 12.9453C66.6455 13.1016 67.2363 13.3262 67.793 13.6191C68.3594 13.9121 68.8867 14.2734 69.375 14.7031C69.8633 15.123 70.293 15.5967 70.6641 16.124L63.1641 25.1621ZM65.2148 16.915C65.0293 16.8467 64.8438 16.8027 64.6582 16.7832C64.4824 16.7637 64.2969 16.7539 64.1016 16.7539C63.5547 16.7539 63.0371 16.8564 62.5488 17.0615C62.0703 17.2568 61.6504 17.54 61.2891 17.9111C60.9375 18.2822 60.6592 18.7314 60.4541 19.2588C60.249 19.7764 60.1465 20.3623 60.1465 21.0166C60.1465 21.1631 60.1514 21.3291 60.1611 21.5146C60.1807 21.7002 60.2051 21.8906 60.2344 22.0859C60.2734 22.2715 60.3174 22.4521 60.3662 22.6279C60.415 22.8037 60.4785 22.96 60.5566 23.0967L65.2148 16.915ZM76.6846 29H72.6855V13.3115H73.6523L74.9707 14.835C75.6152 14.249 76.3428 13.7998 77.1533 13.4873C77.9736 13.165 78.8281 13.0039 79.7168 13.0039C80.6738 13.0039 81.5771 13.1895 82.4268 13.5605C83.2764 13.9219 84.0186 14.4248 84.6533 15.0693C85.2881 15.7041 85.7861 16.4512 86.1475 17.3105C86.5186 18.1602 86.7041 19.0684 86.7041 20.0352V29H82.7051V20.0352C82.7051 19.625 82.627 19.2393 82.4707 18.8779C82.3145 18.5068 82.0996 18.1846 81.8262 17.9111C81.5527 17.6377 81.2354 17.4229 80.874 17.2666C80.5127 17.1104 80.127 17.0322 79.7168 17.0322C79.2969 17.0322 78.9014 17.1104 78.5303 17.2666C78.1592 17.4229 77.8369 17.6377 77.5635 17.9111C77.29 18.1846 77.0752 18.5068 76.9189 18.8779C76.7627 19.2393 76.6846 19.625 76.6846 20.0352V29ZM97.2217 29C96.2549 29 95.3467 28.8193 94.4971 28.458C93.6475 28.0869 92.9004 27.584 92.2559 26.9492C91.6211 26.3047 91.1182 25.5576 90.7471 24.708C90.3857 23.8584 90.2051 22.9502 90.2051 21.9834V17.3252H88.2568V13.3408H90.2051V7.07129H94.1895V13.3408H100.254V17.3252H94.1895V21.9834C94.1895 22.4033 94.2676 22.7988 94.4238 23.1699C94.5801 23.5312 94.7949 23.8486 95.0684 24.1221C95.3418 24.3955 95.6641 24.6152 96.0352 24.7812C96.4062 24.9375 96.8018 25.0156 97.2217 25.0156H100.254V29H97.2217ZM107.432 27.5059C107.432 27.8574 107.368 28.1895 107.241 28.502C107.114 28.8047 106.938 29.0684 106.714 29.293C106.489 29.5176 106.226 29.6934 105.923 29.8203C105.62 29.957 105.293 30.0254 104.941 30.0254C104.6 30.0254 104.272 29.957 103.96 29.8203C103.657 29.6934 103.389 29.5176 103.154 29.293C102.93 29.0684 102.749 28.8047 102.612 28.502C102.485 28.1895 102.422 27.8574 102.422 27.5059C102.422 27.1641 102.485 26.8418 102.612 26.5391C102.749 26.2363 102.93 25.9727 103.154 25.748C103.389 25.5234 103.657 25.3477 103.96 25.2207C104.272 25.084 104.6 25.0156 104.941 25.0156C105.293 25.0156 105.62 25.084 105.923 25.2207C106.226 25.3477 106.489 25.5234 106.714 25.748C106.938 25.9727 107.114 26.2363 107.241 26.5391C107.368 26.8418 107.432 27.1641 107.432 27.5059Z' fill='#4D77FF'/>
</svg>
</span>"), root_path) %>
          </div>
          <!-- /Logo -->
          <h4 class="mb-2">Forgot Password? 🔒</h4>
          <p class="mb-4">Enter your email and we'll send you instructions to reset your password</p>
          <%= form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :post }) do |f| %>
            <div class="mb-3">
              <label for="email" class="form-label">Email</label>
              <%= f.email_field :email, autofocus: true, autocomplete: "email", class:"form-control" %>
            </div>

            <div class="actions">
              <%= f.submit "Send reset password instructions", class:"btn btn-primary d-grid w-100"%>
            </div>
          <% end %>


          </form>
          <div class="text-center mt-2">
            <%= link_to "Back to login", new_user_session_path, class:"d-flex align-items-center justify-content-center"%>
          </div>
        </div>
      </div>
      <!-- /Forgot Password -->
    </div>
  </div>
</div>