<div id="<%= dom_id car %>">
  <p>
    <strong>Name:</strong>
    <%= car.name %>
  </p>

  <p>
    <strong>Description:</strong>
    <%= car.description %>
  </p>

  <p>
    <strong>Year:</strong>
    <%= car.year %>
  </p>

  <p>
    <strong>Door:</strong>
    <%= car.door %>
  </p>

  <p>
    <strong>Price:</strong>
    <%= car.price %>
  </p>

  <p>
    <strong>Transmittion:</strong>
    <%= car.transmittion %>
  </p>

  <p>
    <strong>Seat:</strong>
    <%= car.seat %>
  </p>

  <p>
    <strong>Last service date:</strong>
    <%= car.last_service_date %>
  </p>

  <p>
    <strong>Petrol:</strong>
    <%= car.petrol %>
  </p>

</div>
